body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: aquamarine;
}
div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h1{
  padding: 25px 40px;
  background-color: palevioletred;
  border-radius: 12px;
  font-size: 35px;
  color: azure;
}
span{
  text-transform: capitalize;
  padding-left: 10px;
}
